{% extends 'base.html' %}{% block content %}

<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-md-4">
            <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go back home</a>
            <div class="card">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group m-3">
                        <label for="">Description</label>
                        <input name="description" type="text" placeholder="Enter a description" class="form-control">

                    </div>
                    <div class="form-group m-3">
                        <label for="">location</label>
                        <input name="location" type="text" placeholder="Enter Location" class="form-control">

                    </div>

                    <div class="form-group m-3">
                        <label for="">Select a category</label>
                        <select name="category" class="form-control">
                            <option value="none">Select a category...</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}

                        </select>

                        <div class="form-group m-3">
                            <label for="">Create a new category</label>
                            <input name="category_new" type="text" placeholder="create a new category" class="form-control">

                        </div>

                    </div>

                    <div class="form-group m-3">
                        <label for="">Upload image</label>
                        <input name="image" type="file" class="form-control-file">

                    </div>

                    <button class="btn btn-primary m-3" type="submit">Upload photo</button>
                </form>
            </div>
        </div>

    </div>



    {% endblock content %}