{% extends 'base.html' %}{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'gallery.css' %}">
<section id="uno">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Chino - ga</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add photo</a>
                    </li>
                    {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{category.name}}</a>
                    </li>
                    {% endfor %}
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">All</a></li>

                            <li>
                                <a class="dropdown-item" href="#"></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>

                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div id="hero" class="text-center ">
        <h2 class="para-1">- Gallery -</h2>
        <p class="para"> Memories Worth Sharing </p>
    </div>


</section>


<!-- start of th photo section  -->

<div class="container mt-4">
    <p class="explore text-center">EXPLORE MY WORK</p>
    <h3 class="text-center">Selected Galaries</h3>

    <div class="row p-1">
        {% for photo in photos %}
        <div class="col-md-4 m-1 mb-5">
            <div class="card my-2">
                <img class="card-img img-fluid" src="{{photo.image.url}}" alt="Bologna">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                    <div class="card-body text-center">
                        <h3>{{photo.category}}</h3>

                        <a href="#" class="card-link text-warning">Read More</a>




                    </div>
                    <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark  btn-sm">view Photo</a>

                </div>
            </div>
        </div>
        {% empty %}
        <h3>no photo</h3>
        {% endfor %}

    </div>
</div>

</div>

</div>
</div>

{% endblock content %}