{% extends 'base.html' %}{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'gallery.css' %}">
<section id="uno">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a id="navbar1" class="navbar-brand  " style="color: rgb(255, 255, 255);font-weight:bold" href="#">Chino - ga</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="navbar" class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-weight: 700 ; font-family: Oswald;" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: 700 ; font-family: Oswald;" href="{% url 'add' %}">Add photo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: 700 ; font-family: Oswald;" href="{% url 'gallery'%}">All categories</a>
                    </li>
                    {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: 700 ; font-family: Oswald;" href="{% url 'gallery' %}?category={{category.name}}">{{category.name}}</a>
                    </li>
                    {% endfor %}
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">All</a></li>

                            <li>
                                <a class="dropdown-item" href="#"></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>

                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link disabled" style="font-weight: 700 ; font-family: Oswald;" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <!-- search form -->
                <form class="d-flex" action="{% url 'search_results' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                    <button id="search" class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div id="hero" class="text-center ">
        <h2 class="para-1">- Gallery -</h2>
        <p class="para"> Memories Worth Sharing </p>
    </div>


</section>


<!-- start of th photo section  -->

<div class="container mt-4">
    <p class="explore text-center">EXPLORE MY WORK</p>
    <h3 id="gala" class="text-center">Selected Galaries</h3>


    <div class="row p-1">
        {% for photo in photos %}




        <div class="col m-1 mb-5 justify-content-center">





            <div class="card my-2 ">
                <img id="myImg" class="gallery-item card-img img-fluid" src="{{photo.image.url}}" alt="Bologna">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                    <div class="card-body text-center">




                    </div>
                    <div class="card-footer mt-5 text-center">

                    </div>

                </div>

            </div>
            <div class="desc location">
                <h2>photo taken at : {{photo.location.name}}</h2>
                <p> Category : {{photo.category}}</p>
                <h2><a class="bn btn-outline-warning " href="{% url 'photo' photo.id %}">view photo</a></h2>

            </div>

        </div>






        {% empty %}
        <h3>no photos</h3>
        {% endfor %}

    </div>
</div>

</div>

</div>
</div>


<script>
    document.getElementById(button).onclick = alert() {
        alert('hello there')
    }
</script>


{% endblock content %}