@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Lato:ital,wght@1,900&family=Lobster&family=Oswald:wght@200;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,800;1,100&family=Raleway:wght@600&family=Roboto+Condensed&family=Rye&display=swap');
img {
    max-width: 100%;
    cursor: pointer;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

#search {
    background-color: black;
    border: none;
    color: white;
}

#search:hover {
    background-color: rgb(21, 189, 63);
}

.gallery {
    background-color: #dbddf1;
    padding: 80px 0;
}

.gallery img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%;
}

h1 {
    color: Red;
}

a {
    text-decoration: none;
}

.location {
    font-family: 'Oswald';
    font-size: 15px;
}

.location h2 {
    font-family: 'Oswald';
    font-size: 15px;
}

#gala {
    font-family: 'Oswald';
}

body {
    background-color: black;
    color: white;
}

.card-img-overlay {
    background-color: rgba(#000, 0.7);
}

.card {
    width: 400px;
}

.card-body {
    padding-top: 40%;
}

.explore {
    color: #414141;
}

#hero {
    margin-top: 17%;
    color: white;
    font-family: 'Oswald';
}

.para-1 {
    font-size: 30px;
    font-weight: extra-light;
}

.para {
    font-size: 55px;
}

#uno {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 3)), url("https://images.pexels.com/photos/3830880/pexels-photo-3830880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat center center;
    height: 700px;
}